body {
  margin: 20px;
}

code {
  background: #d0d0d5;
}

canvas {
  margin: auto;
  width: 400px;
  height: 400px;
  background-color: whitesmoke;
}

.container {
  display: flex;
  flex-direction: column;
}

@media (min-width: 800px) {
  .container {
    flex-direction: row;
  }
}

#collectible {
  width: 15px;
  height: 15px;
  display: none;
}

#blue,
#green,
#red,
#packman {
  display: none;
  width: 35px;
  height: 35px;
}

#nav-bar {
  width: 400px;
  height: 35px;
  margin: auto;
  display: flex;
  flex-direction: row;
  border: 1px whitesmoke solid;
  border-radius: 2px 2px 0px 0px;
  background-color: rgb(0, 99, 165);
}

#instructions {
  width: 200px;
  text-align: center;
}

#_id {
  width: 125px;
  text-align: center;
}

#score {
  width: 75px;
  text-align: center;
}

.sp {
  position: relative;
  top: 7px;
  color: rgb(226, 226, 226);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
