body {
  margin: 20px;
}

code {
  background: #d0d0d5;
}

canvas {
  margin: auto;
  width: 400px;
  height: 300px;
  background-color: whitesmoke;
}

.container {
  display: flex;
  flex-direction: column;
}

@media (min-width: 800px) {
  .container {
    flex-direction: row;
  }
}

#collectible {
  width: 15px;
  height: 15px;
  display: none;
}

#blue,
#green,
#red,
#packman {
  display: none;
  width: 35px;
  height: 35px;
}
